.masthead {
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
    color: rgb(192, 192, 192);
    a:hover {
        color: white;
        border-bottom: 1px solid white;
        transition: all 1s linear;
    }

    .login {
      color:white;
      cursor: pointer;
    }
  }
}
